<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Home</title>
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <script src="../js/customer.js"></script>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <div>
        <a href="customer.html">Home</a>
        <a href="logout.html">Logout</a>
    </div>
    <h1>Welcome Customer</h1>
    <div id="cartItem">
        <h3>Cart Items</h3>
        <div id="cartContent">
            
        </div>
    </div>
    <div id="offers">
        
    </div>
    <div id="productscatelog">
        <table border="1" id="datatable">
            <tr>
                <th>Product ID</th>
                <th>
                    Product Name
                </th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Description</th>
                <th>Created At</th>
                <th>Category</th>
                <th>Offer</th>
                <th>Image</th>
                <th>Action</th>
            </tr>
            
        </table>
    </div>
</body>
</html>