<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <script src="../js/cookie.js"></script>
    <script src="../js/index.js"></script>
    <link rel="stylesheet" href="../css/bootstrap.css">
</head>
<body>
    <h1>Customer Login</h1>
    <form action="" method="post">
       <fieldset>
            <table>
                <tr>
                    <td>Username</td>
                </tr>
                <tr>
                    <td><input type="text" name="username" id="username"></td>
                    <td><label for="username" id="usernameErr"></label></td>
                </tr>
                <tr>
                    <td>Password</td>
                </tr>
                <tr>
                    <td><input type="password" name="password" id="password"></td>
                    <td><label for="password" id="passwordErr"></label></td>
                </tr>
                <tr>
                    <td><input type="submit" value="Login" id="login"></td>
                </tr>
                <tr>
                    <td><a href="registration.html">Registration</a></td>
                </tr>
            </table>
       </fieldset>
    </form>
</body>
</html>