<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Order</title>
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <script src="../js/cookie.js"></script>
</head>
<body>
    <div>
        <a href="customer.html">Home</a> | 
        <a href="myorder.html">My Orders</a> |
        <a href="logout.html">Logout</a> | 
    </div>
    <h1>Pending Orders : </h1>
    <div id="pendingOrders">

    </div>
    

    <h1>Delivered Orders : </h1>
    <div id="deliveredOrders">

    </div>
</body>
</html>