<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sales Statistics</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <script type="text/javascript" src="../js/jquery-3.5.1.js"></script>
    <script src="../js/cookie.js"></script>
    <script src="../js/validateCookie.js"></script>
</head>
<body>
    <div>
        <a href="admin.html">Back</a>
    </div>
    <h1>Sales progress</h1>
   <div style="height: 400px;width: 400px;">
    <canvas id="myChart" width="300" height="300"></canvas>
   </div>
   
   <h1>Profit Cost Ratio</h1>
   <div style="height: 400px;width: 400px;">
    <canvas id="myChart2" width="300" height="300"></canvas>
   </div>
  <script src="../js/salesstats.js"></script>
  
</body>
</html>