<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wallet</title>
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <script src="../js/cookie.js"></script>
    <script src="../js/wallet.js"></script>
</head>
<body>
    <div>
        <a href="customer.html">Back</a>
    </div>
    <form action="" method="post">
        <input type="number" name="" id="amount">
        <input type="submit" value="Request" id="request">
    </form>
    <h1>All Requests</h1>
    <table border="1" id="rechargelog">
        <tr>
            <th>Amount</th>
            <th>Status</th>
            <th>Requested At</th>
            <th>Action At</th>
        </tr>
    </table>
</body>
</html>